<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe History - Crave</title>
    <link rel="icon" href="/assets/logo.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Seaweed+Script&display=swap" rel="stylesheet">


</head>
<body>
      <nav>
        <ul class = "nvbar">
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
            <li><a href="{{ url_for('create_recipe_page') }}">Create a New Recipe</a></li>
            <li> <a href="{{ url_for('view_history') }}">Recipe History</a></li>
        </ul>
    </nav>
    <h1 class = "tit2">Crave</h1>
   
    <p class = "piss">In the hustle of college life, students often find themselves sacrificing proper meals for study time—especially during crunch periods like finals. With limited time, tight budgets, and restricted kitchen access, many turn to unhealthy or unsatisfying options, leading to fatigue, poor focus, and weakened well-being. Our app was created to break this cycle by making nutritious, affordable meals more accessible for students, no matter their constraints.
</p>
<p class = "piss">
    Our platform allows users to quickly generate personalized meal ideas by answering a few simple questions about their budget, dietary preferences (like vegetarian or gluten-free), available kitchen tools (such as just a microwave or stovetop), and how much time they can spare for cooking. With just a few taps, students receive practical, tailored meal suggestions that match their lifestyle—helping them eat better, feel better, and succeed both academically and personally.
</p>
<h2 class = "cred"> UI/UX, Developer: Gabby Barthelmy</h2>
<h2 class = "cred"> Planner, Developer : Alexa Munoz</h2>
</body>
</html>