<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe History - Crave</title>
    <link rel="icon" href="/assets/logo.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
      <nav>
        <ul class = "nvbar">
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
            <li><a href="{{ url_for('create_recipe_page') }}">Create a New Recipe</a></li>
            <li> <a href="{{ url_for('view_history') }}">Recipe History</a></li>
        </ul>
    </nav>
    <div class="container">
        <h1>Your Recipe History</h1>
        {% if history_html %}
            {{ history_html | safe }}
        {% else %}
            <p>No past meals found in your history.</p>
        {% endif %}
         <button class="dee"><a href="{{ url_for('index') }}">Return Home</a></button>
         <button class="dee"><a href="{{ url_for('create_recipe_page') }}">Start a New Recipe</a></button>
    </div>
</body>
</html>