<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crave - Personalized Meals for College Students</title>
    <link rel="icon" href="logo.png">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Seaweed+Script&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
   <nav>
        <ul class = "nvbar">
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
            <li><a href="{{ url_for('create_recipe_page') }}">Create a New Recipe</a></li>
            <li> <a href="{{ url_for('view_history') }}">Recipe History</a></li>
        </ul>
    </nav>
    <br>
    <br>
    <div class = "land">
        <div class = "words">
            <h1 class = "tit">Crave</h1>
            <ul class = "pl">
                <li>Real food. </li>
                <li>Real broke. </li>
                 <li>Real quick. </li>
            </ul>
            <p id = "blurb">Crave helps you cook delicious, affordable meals based on your budget, mood, tools, time, and diet. Powered by the 
                OpenAI and the Tasty API—if we can’t find it, we’ll create it. Bon appétit!</p>
                <button id ="strec"><a href="{{ url_for('create_recipe_page') }}">Start a New Recipe</a></button>
                <button id ="vrhis"><a href="{{ url_for('view_history') }}">View Recipe History</a></button>
        </div>
        <div class = "vis">
            <img id= "pla" src="{{ url_for('static', filename='images/plate.png') }}" alt="picture of meal on plate">
        </div>
    </div>
</body>
</html>